.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.HeroContent h1 {
  font-weight: 800;
  font-size: 72px;
  line-height: 70px;
  color: #18191f;
}

.HeroContent button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 32px;
  gap: 10px;
  width: 154px;
  height: 48px;
  background: #8c30f5;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  border: none;
}

@media screen and (max-width: 768px) {
  .HeroContent h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .Container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .HeroContent h1 {
    font-size: 56px;
    line-height: 64px;
  }
  .HeroContent button {
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1025px) {
  .HeroContent h1 {
    font-size: 72px;
    line-height: 80px;
  }
  .HeroContent button {
    width: 170px;
    height: 64px;
    font-size: 20px;
    line-height: 28px;
  }
}

@media screen and (max-width: 450px) {
  .Container {
    padding: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .HeroContent {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .HeroContent h1 {
    font-size: 30px;
  }

  .HeroContent button {
    width: 140px;
    height: 50px;
    font-size: 14px;
    line-height: 28px;
    margin: 0;
  }
}
