.HeadlineContainer {
  display: flex;
  flex-direction: row;
  padding: 0 40px;
}

.HeadlineImage {
  display: flex;
  flex: 0.5;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

.HeadlineContent {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.HeadlineContent h3 {
  font-size: 40px;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .HeadlineContainer {
    flex-direction: column;
    padding: 0 20px;
    align-items: center;
  }
  .HeadlineContent {
    padding-top: 15px;
  }
}

@media screen and (max-width: 450px) {
  .HeadlineImage {
    width: 415px;
  }
}
